/* 변수 정의 */
// $cdn: "../assets";
// $cdn: "https://hive-fn.qpyou.cn/markup/img/blockchain/2024/assets";

//색상 정의
$blue: #1277ff;
$red: #e21212;

$gray: #646777;
$white: #fff;
$black: #252525;

$light-theme: (
  background-color: #f8f8f8,
  text-color: #333333,
	gray-color: #4b4b4bdd,
  border-color: #e0e0e0,
  border-color-secondary: #404040
);

$dark-theme: (
  background-color: #080808,
  text-color: #ededed,
		gray-color: #a8a8a8dd,
  border-color: #333333,
  border-color-secondary: #f8f8f8
);

//radius
$radius-sm: 1.6rem;
$radius-md: 2.4rem;
$radius-lg: 4rem;

// 백그라운드로 쓸때 변수
$svg-background: 'data:image/svg+xml;charset=utf8,';
//  background: url("data:image/svg+xml,#{svg-image(icon-hive-platform, fff)}") no-repeat center / 100% auto;

//헤더
$header-pc-height: 6.4rem;
$header-mobile-height: 4.9rem; // 위 아래 공백 포함 전체 높이 (실 높이는 5.6rem)
