/* MaruBuri-Light - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: light;
  font-weight: light;
  src: url('/fonts/MaruBuri-Light.woff2') format('woff2');
}
/* MaruBuri-Regular - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MaruBuri-Regular.woff2') format('woff2');
}
/* MaruBuri-SemiBold - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: semi-bold;
  font-weight: semi-bold;
  src: url('/fonts/MaruBuri-SemiBold.woff2') format('woff2');
}

/* MaruBuri-Bold - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: bold;
  font-weight: bold;
  src: url('/fonts/MaruBuri-Bold.woff2') format('woff2');
}
