/* MaruBuri-Light - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/MaruBuri-ExtraLight.otf') format('opentype');
}
/* MaruBuri-Light - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaruBuri-Light.otf') format('opentype');
}
/* MaruBuri-Regular - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/MaruBuri-Regular.otf') format('opentype');
}
/* MaruBuri-SemiBold - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/MaruBuri-SemiBold.otf') format('opentype');
}

/* MaruBuri-Bold - korean */
@font-face {
  font-display: swap;
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/MaruBuri-Bold.otf') format('opentype');
}
