* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: none;
	font-size: 10px;
	// -webkit-touch-callout: none;
	// -webkit-user-select: none;
	white-space: normal;
}
body {
	font-family:  "Noto Serif","Noto Serif KR", -apple-system, BlinkMacSystemFont,
			system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
			"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", sans-serif;

	font-weight: 500;
	// &:lang(ko) {
	//     word-break: keep-all;
	// }
}
img {
	width: 100%;
	vertical-align: top;
}
strong,
b {
	font-family: "Noto Serif","Noto Serif KR", -apple-system, BlinkMacSystemFont,
			system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
			"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", sans-serif;

	font-weight: 700;
}
table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	font-family: inherit;
}
a,
button,
select,
input,
label {
	font-family:  "Noto Serif","Noto Serif KR", -apple-system, BlinkMacSystemFont,
			system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
			"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", sans-serif;

	cursor: pointer;
	outline: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
button {
	font-size: inherit;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
	display: block;
}